/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none
}

body{
    @apply bg-slate-50 font-poppins;
}

.fade{
    transition: all .3s ease;
}